apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: food-auth-database-pvc
  namespace: food
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-storage
