apiVersion: v1
kind: PersistentVolume
metadata:
  name: food-auth-database-pv
  namespace: food

spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  hostPath:
    path: /data
